################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PrismBaseSample/obj/project.nuget.cache
/PrismBaseSample/obj/project.assets.json
/PrismBaseSample/obj/PrismBaseSample.csproj.nuget.g.targets
/PrismBaseSample/obj/PrismBaseSample.csproj.nuget.g.props
/PrismBaseSample/obj/PrismBaseSample.csproj.nuget.dgspec.json
/PrismBaseSample/obj/Debug/net6.0-windows/Views/MainWindow.g.i.cs
/PrismBaseSample/obj/Debug/net6.0-windows/Views/MainWindow.g.cs
/PrismBaseSample/obj/Debug/net6.0-windows/Views/MainWindow.baml
/PrismBaseSample/obj/Debug/net6.0-windows/Views/Dialog/NotificationDialogView.g.i.cs
/PrismBaseSample/obj/Debug/net6.0-windows/Views/Dialog/NotificationDialogView.g.cs
/PrismBaseSample/obj/Debug/net6.0-windows/Views/Dialog/NotificationDialogView.baml
/PrismBaseSample/obj/Debug/net6.0-windows/Views/Dialog
/PrismBaseSample/obj/Debug/net6.0-windows/Views
/PrismBaseSample/obj/Debug/net6.0-windows/ref/PrismBaseSample.dll
/PrismBaseSample/obj/Debug/net6.0-windows/ref
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_zt0c2plt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_zt0c2plt_wpftmp.assets.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_zt0c2plt_wpftmp.AssemblyInfoInputs.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_zt0c2plt_wpftmp.AssemblyInfo.cs
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_MarkupCompile.lref
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_MarkupCompile.i.lref
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_MarkupCompile.i.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample_MarkupCompile.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.pdb
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.genruntimeconfig.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.GeneratedMSBuildEditorConfig.editorconfig
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.g.resources
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.dll
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.csproj.FileListAbsolute.txt
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.csproj.CoreCompileInputs.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.csproj.CopyComplete
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.csproj.AssemblyReference.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.assets.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.AssemblyInfoInputs.cache
/PrismBaseSample/obj/Debug/net6.0-windows/PrismBaseSample.AssemblyInfo.cs
/PrismBaseSample/obj/Debug/net6.0-windows/apphost.exe
/PrismBaseSample/obj/Debug/net6.0-windows/App.g.i.cs
/PrismBaseSample/obj/Debug/net6.0-windows/App.g.cs
/PrismBaseSample/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/PrismBaseSample/obj/Debug/net6.0-windows
/PrismBaseSample/obj
/PrismBaseSample/bin/Debug/net6.0-windows/Unity.Container.dll
/PrismBaseSample/bin/Debug/net6.0-windows/Unity.Abstractions.dll
/PrismBaseSample/bin/Debug/net6.0-windows/ref/PrismBaseSample.dll
/PrismBaseSample/bin/Debug/net6.0-windows/ref
/PrismBaseSample/bin/Debug/net6.0-windows/PrismBaseSample.runtimeconfig.json
/PrismBaseSample/bin/Debug/net6.0-windows/PrismBaseSample.pdb
/PrismBaseSample/bin/Debug/net6.0-windows/PrismBaseSample.exe
/PrismBaseSample/bin/Debug/net6.0-windows/PrismBaseSample.dll
/PrismBaseSample/bin/Debug/net6.0-windows/PrismBaseSample.deps.json
/PrismBaseSample/bin/Debug/net6.0-windows/Prism.Wpf.dll
/PrismBaseSample/bin/Debug/net6.0-windows/Prism.Unity.Wpf.dll
/PrismBaseSample/bin/Debug/net6.0-windows/Prism.dll
/PrismBaseSample/bin/Debug/net6.0-windows/Microsoft.Xaml.Behaviors.dll
/PrismBaseSample/bin/Debug/net6.0-windows
/PrismBaseSample
/.vs/PrismBaseSample/v17/TestStore/0/testlog.manifest
/.vs/PrismBaseSample/v17/TestStore/0/000.testlog
/.vs/PrismBaseSample/v17/TestStore/0
/.vs/PrismBaseSample/v17/.suo
/.vs/PrismBaseSample/v17/.futdcache.v1
/.vs/PrismBaseSample/v17
/.vs/PrismBaseSample/DesignTimeBuild/.dtbcache.v2
/.vs/PrismBaseSample/DesignTimeBuild
/.vs/PrismBaseSample
